.container_fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
}
.navbar-nav li a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
    transition: color 0.3s;
    text-transform: uppercase;
    padding-right: 50px;
    font-family: 'Noto Serif', serif;
}
.navbar-nav li a:hover{
    color: #74BE4F;
}
.navbar-nav .active{
    color: #74BE4F;
}
.dropdown-menu a{
    line-height: 30px;
    font-size: 15px;
    text-transform: lowercase;
}
.navbar-light .navbar-brand{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.about {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/i1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    background-attachment: fixed;
    text-align: center;
    color: white;
    padding-top: 130px;
    font-family: 'Noto Serif', serif;
}

h1{
    font-size: 45px;
}
#bug{
    text-align: center;
    color:white;
    font-family: 'Noto Serif', serif;
    font-size: 25px;
}
#bug .active{
    color: #74BE4F;
}
a:hover{
    border-bottom: 1px transparent;
    text-decoration: none;
    
}
a:active{
    color: white;
}
a:visited{
    color: currentColor;
}
a:hover{
    color: #74BE4F;
}
.courses{
    margin-top: 60px;
}
.courses card{
    display: flex;
}

.card {
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
}
.courses{
    height: 700px;
}
#row2{
    margin-top: 50px;
}
.card-title{
    font-family: 'Merriweather', serif;
    font-weight: 700px;
}
.card-title:hover{
    color: #74BE4F;
}
footer{
    background-color: #dce4e2;
    margin-top: 50px;
}
.footer-copyright{
    background-color: #c5ccca;
}
@media only screen and (max-width: 600px){
    .card{
        margin-top: 40px;
    }
    .courses{
        height: 1500px;
    }
  }
  @media only screen and (max-width: 900px){
    .card{
      margin-top: 40px;
  }
    .courses{
        height: 2000px;
    }
  }